body {
    font-family: "Montserrat";
    text-align: center;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat-Bold";
  }
  p {
    color:red;
  }
  .colored-section{
      background-color: #ff4c68;
      color:#ffff;
  }
  #title{
    text-align: left;
    color:#ffff;
    /* padding: 3% 15% 7%; */
  }
  .title-image{
    position:absolute;
    width:60%;
    transform: rotate(25deg);
    right:20%;

  }
  .big-heading{
    font-family: "Montserrat-Black";
    line-height: 1.5;
    font-size: 3.5rem;
  }
  .container-fluid{
    padding: 3% 15%
  }
  .navbar{
    padding: 0 0 4.5rem;
  }
  .navbar-brand{
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
    /* color:white; */
  }
  .nav-item{
    padding: 0 18px;
  }
  .nav-link{
    font-family: "Montserrat-Light";
    font-size: 1.2rem;
    }
    .download-button{
      margin:5% 5% 5% 0;
    }
    #features{
      position: relative;
    }
    .feature-box{
      padding: 4.5%;
    }
    .feature-title{
    font-size: 1.5rem;
    }
    /* Testimonal Section */
    .testimonial-image{
      border-radius: 100%;
      width: 20%;
      margin: 20px;
    }
    #testimonial{
      background-color: #ef8172;
    }
    .testimonial-text{
      font-size: 3rem;
      line-height: 1.5;
    }
    /* press section */
    #press{
      background-color: #ef8172;
      padding-bottom: 5%;
    }
.press-logo{
      width:15%;
      margin: 20px 20px 50px;
    }
    /* pricing section */
#pricing{
  padding:100px;
}
.pricing-text{
  font-size: 3rem;
  line-height: 1.5;
}
.pricing-column{
  padding:3% 2%;
}
/* cta section */
#cta{
  padding: 8% 0 10%;
}
.social-icon{
  margin: 20px 10px;
}
.copyright{
  color: black;
  text-transform: capitalize;
  /* text-decoration: underline; */
}
.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}
@media (max-width: 900px){
  #title{
    text-align: center;
  }
  .title-image{
    position:static;
    transform: rotate(0);
  }
  
}